.hidden {
    display: none;
}

ul, ol, li {
    list-style: none;
    padding: 0;
}

.menu {
    float: none;
    position: absolute;
}

.menu li {
    display: list-item;
    float: none;
}

fieldset {
    padding: 0;
    border: 0;
}

label, input {
    display: block;
}